<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAIAo-cuF4ERz1T8YmX2tPvXtiCdt80bzc</string>
	<key>GCM_SENDER_ID</key>
	<string>720955481757</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.adcafeshop</string>
	<key>PROJECT_ID</key>
	<string>adcafeshop-6e837</string>
	<key>STORAGE_BUCKET</key>
	<string>adcafeshop-6e837.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:720955481757:ios:966d528d71fb5ca8817e74</string>
</dict>
</plist>